---
import Heading from '../../components/about/Heading.astro';
import GoBack from '../../components/GoBack.astro';
import Footer from '../../components/layout/Footer.astro';
import Header from '../../components/layout/Header.astro';
import PublicationsComponentEng from '../../components/PublicationsComponentEng.astro';
import Base from '../../layouts/Base.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout description="" title="Publications">
    <Base>
        <Header />
        <GoBack />
        <div class="mx-auto h-full w-full max-w-2xl px-4 pt-20 sm:px-6 lg:max-w-7xl lg:px-8">
            <Heading
                title="Publications"
                subtitle="Publications on theatrical architecture and scenography regarding projects carried out by Sambataro Architects"
            />
            <PublicationsComponentEng />
        </div>
        <Footer
            description="Sambataro Arquitectos, an architecture firm with over 40 years of experience in scenotechnical consulting and stage machinery for preventive and corrective maintenance."
        />
    </Base>
</Layout>
