---
interface Props {
    title: string;
    subtitle: string;
}
const { title, subtitle } = Astro.props;
---

<section class="pt-16 sm:pt-24">
    <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col gap-4 sm:gap-6">
            <h4 class="text-4xl font-light tracking-tight sm:text-5xl lg:text-[4vw]">{title}</h4>
            <p
                class="mx-auto max-w-xl text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
                {subtitle}
            </p>
        </div>
    </div>
</section>
