---
import { Image } from 'astro:assets';
import Heading from '../../components/about/Heading.astro';
import orquesta from '../../img/orquesta.webp';
const stats = [
    {
        name: 'Years',
        value: '30',
    },
    {
        name: 'Experts',
        value: '5',
    },
    {
        name: 'Projects',
        value: '100',
    },
    {
        name: 'Awards',
        value: "'5'",
    },
];
---

<section class="py-16 sm:py-20">
    <Heading title="Estudio" subtitle="Contactanos para más información" />

    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-20 lg:max-w-7xl lg:px-8">
        <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
            <div>
                <Image
                    class="mx-auto w-full max-w-xl rounded-3xl object-cover"
                    src={orquesta}
                    alt="Our experts working together"
                />
                <h2 class="py-8 text-3xl font-medium tracking-tight sm:text-4xl">Estudio</h2>
                <div class="space-y-6">
                    <p class="text-sm text-primary-950/70 dark:text-primary-200/70 lg:text-base">
                        Nuestro equipo incluye expertos en el desarrollo de planificación,
                        patrimonio, arquitectura teatral, escenotecnia y diseño de escenografías
                        para ópera. Además, contamos con especialistas en ingeniería escénica,
                        estructural y mecánica; acústica, iluminación escénica, sonido y video.
                        Tenemos experiencia en operación de teatros, por lo tanto, entendemos las
                        necesidades artísticas, operacionales, técnicas y comerciales de todo tipo
                        de salas de espectáculos, áreas de apoyo y edificios complementarios.
                    </p>
                </div>
            </div>

            <div class="flex flex-col gap-10">
                <!-- Mission description -->
                <div class="space-y-8 sm:space-y-12">
                    <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Historia</h2>
                    <div class="space-y-6">
                        <p
                            class="text-sm text-primary-950/70 dark:text-primary-200/70 lg:text-base">
                            Desde nuestro comienzo en 1987, trabajamos en más de 40 proyectos en 8
                            países- teatros, centros culturales, escenografías, salas líricas, de
                            prosa, concert halls, auditorios, arenas, etc. – Sin importar el tamaño
                            del proyecto, volcamos nuestra experiencia para crear espacios
                            innovadores, flexibles, y eficientes.
                        </p>
                        <p
                            class="text-sm text-primary-950/70 dark:text-primary-200/70 lg:text-base">
                            En 1987, el escenógrafo Enrique Bordolini junto con arquitecto Alfio
                            Sambataro, desarrollaron el proyecto escenotécnico en el destacado
                            Teatro Colón de Buenos Aires, donde se remodeló por completo su caja
                            escénica. Trabajando tanto en América como en Europa, crecieron y fueron
                            pioneros en el asesoramiento escenotécnico en Latinoamérica, en
                            proyectos de gran envergadura. A partir del 2012, tras 30 años de
                            trayectoria, el estudio se estableció e integró nuevos profesionales
                            como la arquitecta Agostina Sambataro, incorporándose a nuevos
                            proyectos.
                        </p>
                        <p
                            class="text-sm text-primary-950/70 dark:text-primary-200/70 lg:text-base">
                            En la última década el estudio se consolidó como uno de los pocos
                            referentes regionales de la especialización. Actualmente tenemos un
                            equipo conformado por profesionales argentinos y chilenos; arquitectos,
                            ingenieros, diseñadores y técnicos, apasionados por hacer edificios
                            contenedores de arte funcionales a la audiencia, artistas y técnicos por
                            igual.
                        </p>
                    </div>
                </div>

                <!-- Stats -->
                <!-- <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                    {
                        stats.map((stat) => (
                            <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                                <dt class="text-base">{stat.name}</dt>
                                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
                            </div>
                        ))
                    }
                </dl> -->
            </div>
        </div>
    </div>
</section>
