---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import HeaderLink from '../HeaderLink.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface CtaProps {
    title: string;
    description: string;
    anchor: string;
}

const { title, description, anchor } = Astro.props as CtaProps;
---

<section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
        <div
            class="flex flex-col items-center gap-8 rounded-xl bg-primary-200/50 p-2 px-5 py-16 shadow-md dark:bg-primary-900 sm:gap-10">
            <div class="flex flex-col gap-4 sm:gap-6">
                <h2 class="text-4xl font-light tracking-tight sm:text-5xl lg:text-[4vw]">
                    {title}
                </h2>
                <p
                    class="mx-auto max-w-xl text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
                    {description}
                </p>
            </div>
            <HeaderLink
                href="/contact"
                locale={lang}
                class="dark:hover-bg-primary-700 flex w-full max-w-sm items-center justify-center rounded-xl bg-primary-100 px-6 py-4 text-sm font-normal text-primary-700 shadow transition-all hover:text-primary-800 hover:shadow-md focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-1 focus-visible:outline-primary-500 active:scale-95 dark:border-primary-700 dark:bg-primary-800 dark:text-primary-200 dark:hover:bg-primary-700 dark:hover:text-primary-100 dark:focus-visible:outline-primary-400">
                {anchor}
            </HeaderLink>
        </div>
    </div>
</section>
