---
import Base from '../../layouts/Base.astro';
import video from '../../video/portada_cacta_optimizado.mp4';
import colon from '../../img/colon.webp';
import Anchor from '../Anchor.astro';
import GoTop from '../GoTop.astro';

interface Props {
    title?: string;
    description?: string;
}
const { title, description } = Astro.props;
---

<Base>
    <section class="pt-12 relative">
        <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="flex flex-col gap-8">
                <h1 class="tracking-thin text-4xl font-light sm:text-5xl lg:text-[4vw]">
                    {title}
                </h1>
                <figure
                    class="aspect-video object-center h-auto w-full rounded-xl shadow-lg sm:h-[24rem] lg:h-[50%]">
                    <video
                        poster={colon.src}
                        src=""
                        autoplay
                        loop
                        muted
                        playsinline
                        class="h-full w-full rounded-xl object-cover object-center shadow-md">
                    </video>
                </figure>
            </div>
        </div>
        <GoTop />
    </section>
    <Base />
</Base>
