---
const notes = [
    {
        step: '01',
        name: 'Nota 1',
        description:
            'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    },
    {
        step: '02',
        name: 'Nota 2',
        description:
            'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    },
    {
        step: '03',
        name: 'Nota 3',
        description:
            'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    },
];
---

<section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col gap-12 sm:gap-16">
            <div class="grid gap-8 lg:grid-cols-3">
                {
                    notes.map((note) => (
                        <div class="flex flex-col gap-12 rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
                            <p class="text-sm">{note.step}</p>
                            <div class="flex flex-col gap-4">
                                <h3 class="text-xl font-medium">{note.name}</h3>
                                <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                                    {note.description}
                                </p>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>
