---
import { Form } from '../Form/Form.jsx';
---

<section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="grid gap-12 lg:grid-cols-2 lg:gap-8">
            <div class="flex flex-col gap-4 sm:gap-6">
                <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Trabajemos juntos</h2>
                <p class="max-w-lg text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
                    Siempre estamos en la búsqueda de nuevos talentos. Si quiere ser considerado
                    para futuros proyectos de asesoramiento escenotécnico, revisaremos su currículum
                    y lo tendremos en cuenta si alguna posición resulta disponible ¡Nos alegramos de
                    recibir iniciativas!
                </p>
            </div>
            <Form
                name="Nombre"
                name_placeholder="John Doe"
                company={'Empresa'}
                company_placeholder="Sabataro Arquitectos S.A."
                email={'Correo Electrónico'}
                email_placeholder="johndoe@sambataroarquitectos.com"
                phone={'Teléfono'}
                phone_placeholder="+54 9 11 1234 5678"
                message={'Mensaje'}
                message_placeholder="Hola, me gustaría conocer más sobre sus servicios."
                send="Enviar"
                message_2="¡Gracias por contactarnos! Nos pondremos en contacto contigo a la brevedad. 📩"
                client:visible
            />
        </div>
    </div>
</section>
