---

---

<div class="mx-auto h-fit w-full lg:rounded-xl">
    <dl
        class="-my-3 divide-y divide-primary-300 text-xs text-primary-950/70 dark:text-primary-200/70">
        <ul class="space-y-2">
            <li><strong>Tipología</strong>: Teatro</li>
            <li>
                <strong>Ubicación</strong>: Cerrito 628, Ciudad Autónoma de Buenos Aires, Argentina
            </li>
            <li><strong>Temática</strong>: Remodelación, Modernización y Equipamiento Escénico</li>
            <li>
                <strong>Servicios</strong>: Proyecto licitatorio, proyecto ejecutivo, dirección de
                obra
            </li>
            <li><strong>Comitente</strong>: Municipalidad de la Ciudad de Buenos Aires</li>
            <li><strong>Dirección Ejecutiva</strong>: Enrique Bordolini</li>
            <li><strong>Proyecto escenotécnico</strong>: Arq. Alfio Sambataro</li>
            <li><strong>Dirección de obra</strong>: Alfio Sambataro</li>
            <li>
                <strong>Asesores</strong>:
                <ul>
                    <li>Theater Projects</li>
                    <li>Ing. Federico Malvares</li>
                    <li>Ing. Fink</li>
                    <li>José Luis Fiorruccio</li>
                    <li>Rolando Sadra</li>
                </ul>
            </li>
            <li><strong>Localidades</strong>: 2500</li>
            <li><strong>Superficie aproximada total</strong>: 58.000 m2</li>
            <li><strong>Superficie aproximada intervenida</strong>: 7.000 m2</li>
            <li><strong>Monto aproximado de intervención</strong>: US$ 14.000.000</li>
            <li><strong>Año</strong>: 1987-1990</li>
            <li>
                <strong>Página web</strong>: <a href="http://www.teatrocolon.org.ar/"
                    >http://www.teatrocolon.org.ar/</a
                >
            </li>
        </ul>
    </dl>
</div>
