---
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<button
    onclick="window.history.back().window.scrollTo(0, 0)"
    id="goBack"
    class="fixed right-2 top-2 z-20 inline-flex h-16 w-16 items-center justify-center rounded-full bg-primary-200 font-light uppercase tracking-tight text-primary-950 shadow ring-primary-950 transition hover:bg-primary-300 focus:outline-none focus-visible:ring-2 dark:bg-primary-700 dark:text-primary-200 dark:hover:bg-primary-800 sm:text-3xl lg:text-4xl">
    ←
</button>
